<style>
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	th, td {
	  padding: 15px;
	}
</style>
<%= @temp %>
<%= form_with url:"/score/list", data: {turbo:false}, method: :post do |form| %>
	<table>
		<tr>
			<th></th>
			<th>Subject</th>
			<th>Score</th>
			<th></th>
			<th></th>
		</tr>
		<% i = 1 %>
		<% for data in @db %>
			<tr>
				<td><%= i %></td>
				<td><%= data.subject %></td>
				<td><%= data.score %></td>
				<td><%= form.submit "edit", name:"edit#{i}" %></td>
				<td><%= form.submit "delete", name:"delete#{i}" %></td>
				<% i+=1 %>
			</tr>
		<% end %>
	</table>
	<p>total score = <%= @sum %></p>
	<p>top subject is <%= @mxsubject %></p>
 <% end %>
